<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Bank Application Servlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.Servlets.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Signup</display-name>
    <servlet-name>Signup</servlet-name>
    <servlet-class>com.Servlets.Signup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Signup</servlet-name>
    <url-pattern>/Signup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Deposit</display-name>
    <servlet-name>Deposit</servlet-name>
    <servlet-class>com.Servlets.Deposit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Deposit</servlet-name>
    <url-pattern>/Deposit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Withdraw</display-name>
    <servlet-name>Withdraw</servlet-name>
    <servlet-class>com.Servlets.Withdraw</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Withdraw</servlet-name>
    <url-pattern>/Withdraw</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MoneyTransfer</display-name>
    <servlet-name>MoneyTransfer</servlet-name>
    <servlet-class>com.Servlets.MoneyTransfer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MoneyTransfer</servlet-name>
    <url-pattern>/MoneyTransfer</url-pattern>
  </servlet-mapping>
</web-app>